<header class="bg-gray-800 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <nav class="flex">
      <a
        routerLink="/"
        class="text-gray-300 hover:text-white px-3 py-2 cursor-pointer"
        >Inicio</a
      >
      <a
        routerLink="/Computers"
        class="text-gray-300 hover:text-white px-3 py-2 cursor-pointer"
        >Computadoras</a
      >
      <a
        routerLink="/Contact"
        class="text-gray-300 hover:text-white px-3 py-2 cursor-pointer"
        >Contacto</a
      >
    </nav>
  </div>
</header>
