<div class="flex w-full h-screen justify-center items-center bg-slate-100">
  <form
    class="bg-white w-96 rounded-md shadow-lg p-3 max-w-full"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <h2>Agregar computadora</h2>

    <mat-form-field class="w-full">
      <mat-label>Precio</mat-label>
      <input
        matInput
        placeholder="20000.00"
        type="number"
        formControlName="price"
      />
      @if (true) {
      <mat-error>El precio es requerido y debe ser mayor que 0</mat-error>
      }
    </mat-form-field>

    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-6">
        <mat-form-field class="w-full">
          <mat-label>Marca</mat-label>
          <mat-select formControlName="brand">
            @for (brand of brands(); track brand) {
            <mat-option [value]="brand">{{ brand }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-span-6">
        <mat-form-field class="w-full">
          <mat-label>Tipo de almacenamiento</mat-label>
          <mat-select formControlName="storageType">
            @for (type of storageTypes(); track type) {
            <mat-option [value]="type">{{ type }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-2">
      <div class="col-span-6">
        <mat-form-field class="w-full">
          <mat-label>Almacenamiento</mat-label>
          <input
            matInput
            placeholder="1TB"
            type="text"
            formControlName="storageCapacity"
          />
          @if (true) {
          <mat-error>Error</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-span-6">
        <mat-form-field class="w-full">
          <mat-label>Capacidad de la RAM</mat-label>
          <mat-select formControlName="RAMCapacity">
            @for (RAMCapacity of RAMCapacities(); track RAMCapacity) {
            <mat-option [value]="RAMCapacity">{{ RAMCapacity }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="grid grid-cols-12 gap-2 mb-4">
      <div class="col-span-6">
        <button class="w-full" mat-raised-button>Limpiar</button>
      </div>
      <div class="col-span-6">
        <button
          (click)="cancel()"
          class="w-full"
          mat-raised-button
          color="warn"
          type="button"
        >
          Cancelar
        </button>
      </div>
    </div>

    <button class="w-full" mat-raised-button color="primary" type="submit">
      Guardar
    </button>
  </form>
</div>
