<!--Select con tailwind y html-->
<div class="relative">
  <select
    class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
  >
    <option></option>
  </select>
  <div
    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
  >
    <svg
      class="fill-current h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
    >
      <path
        d="M9 11a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H9zm-2-4a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2H7zm-2-4a1 1 0 0 0 0 2h10a1 1 0 0 0 0-2H5z"
      />
    </svg>
  </div>
</div>
